.Container {
  background: #cbcbcb;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.ContainerAnime {
  animation: color 1s 1.5s ease forwards;
}

.Circle {
  background: #fff;
  width: 54px;
  height: 54px;
  font-family: "Alfa Slab One", cursive;
  font-size: 18px;
  color: #cbcbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 6px 10px 20px 0px rgba(0, 0, 0, 0.6);
}

.CircleAnime {
  animation: fadeout 1s ease-in-out forwards, move 1.4s 1s ease-in-out forwards,
    fadein 1s 2.4s ease-in-out forwards;
}

.One {
  position: absolute;
  opacity: 1;
}
.OneAnime {
  animation: number 1s 1s ease forwards;
}
.Two {
  opacity: 0;
}
.TwoAnime {
  animation: number 1s 1s ease forwards reverse;
}

@keyframes fadeout {
  0% {
    width: 54px;
    height: 54px;
    font-size: 18px;
    box-shadow: 6px 10px 20px 0px rgba(0, 0, 0, 0.6);
  }
  60% {
    width: 44px;
    height: 44px;
    font-size: 16.5px;
    box-shadow: 6px 10px 20px 0px rgba(0, 0, 0, 0.4);
  }
  100% {
    width: 48px;
    height: 48px;
    font-size: 17px;
    box-shadow: 6px 10px 20px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes fadein {
  0% {
    width: 48px;
    height: 48px;
    font-size: 17px;
    box-shadow: 6px 10px 20px 0px rgba(0, 0, 0, 0.5);
  }
  60% {
    width: 56px;
    height: 56px;
    font-size: 18.2px;
    box-shadow: 6px 10px 20px 0px rgba(0, 0, 0, 0.65);
  }
  100% {
    width: 54px;
    height: 54px;
    font-size: 18px;
    box-shadow: 6px 10px 20px 0px rgba(0, 0, 0, 0.6);
  }
}
@keyframes move {
  0% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(94px);
  }
  100% {
    transform: translateX(86px);
  }
}

@keyframes color {
  0% {
    background: #cbcbcb;
  }
  100% {
    background: #55d681;
  }
}

@keyframes number {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
