.SideForm {
  border: 1px solid #ececec;
  background: #fff;
  width: 320px;
  height: auto;
  float: right;
  border-radius: 7px;
  margin-top: 20px;
  margin-left: 60px;
  padding: 20px;
  box-sizing: border-box;
}

.Inputs {
  margin-top: 20px;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Msg {
  border: 1px solid red;
  width: 100%;
}

@media (max-width: 768px) {
  .SideForm {
    width: 100%;
    margin-left: 0;
    order: 1;
  }
}
