.Container {
  width: auto;
  height: 70vh;
  min-height: 600px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  padding-top: 10px;
}

@media (max-width: 992px) {
  .Container {
    position: relative;
    height: auto;
    min-height: auto;
  }
}
