.Languages li {
  margin-left: 20px;
}
.Languages li a {
  color: #2c2c2c;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.Active a {
  font-weight: 500 !important;
}
