@import url("https://fonts.googleapis.com/css?family=Montserrat:300, 400&display=swap");

.Title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: inherit;
}

.Paragraph {
  font-size: 16px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.CardParagraph {
  font-size: 14px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.SmallParagraph {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.Subtitle {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  margin-top: 40px;
  font-family: Montserrat, sans-serif;
}

.CompareSubtitle {
  color: #d81f27;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
}

.CompareSmallSubtitle {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
}

.formTitle {
  display: flex;
  justify-content: center;
}

.SideformSubtitle {
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .formTitle {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .formTitle {
    font-size: 20px;
    text-align: center;
  }
}
