@import url("https://fonts.googleapis.com/css?family=Roboto:400, 500,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.RedLetters {
  color: #d21e27;
}

.RedBorder {
  border: 1px solid #d21e27;
}

.RedBack {
  background: #d21e27;
}

.Contact {
  display: flex;
  justify-content: space-between;
}

.ContactLeft {
  width: 70%;
}

.ContactContainer {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .ContactLeft {
    width: 65%;
  }
}

@media (max-width: 992px) {
  .Contact {
    flex-direction: column;
  }
  .ContactLeft {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .SideFormAndContent {
    display: flex;
    flex-direction: column;
  }
}
