.Links {
  width: 280px;
  height: 100%;
  float: right;
  margin: 0px 0px 0px 30px;
  padding: 5px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .Links {
    width: 100%;
    margin: 0px;
    order: 1;
  }
}
