.Header {
  border-top: 6px solid #d81f27;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 900;
  top: 0px;
}

.Header nav {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.Header ul {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

@media (max-width: 1280px) {
  .Header nav {
    max-width: 90%;
  }
}
