.inputText {
  width: 100%;
  margin: 80px 0px;
}

.Half {
  width: 48%;
}

.Quarter {
  width: 22%;
}

@media (max-width: 600px) {
  .inputText {
    width: 100%;
  }
  .SelectInput {
    width: 100% !important;
  }
}
