.Form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Prices {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Franchises {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Hide {
  display: none !important;
}
