.CompareForm {
  background: white;
  border-radius: 7px;
  width: 60%;
  min-height: 300px;
  margin: 40px auto;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px -9px rgba(0, 0, 0, 0.3);
}

.Steps {
  margin: 20px auto;
  margin-top: 0px;
  height: auto;
  width: fit-content;
}

.FormInputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .CompareForm {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .CompareForm {
    width: 96%;
  }
}

@media (max-width: 768px) {
  .CompareForm {
    width: 100%;
  }
  .FormInputs div {
    width: 100%;
  }
}
